---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v1/tokens
    body:
      encoding: US-ASCII
      string: card[number]=4000000000000002&card[exp_month]=1&card[exp_year]=2015&card[cvc]=314
    headers:
      Authorization:
      - Bearer sk_test_M4vSUGDJR5Uw4TyvPstbKppJ
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
    body:
      encoding: UTF-8
      string: |
        {
          "id": "tok_103dY72tP72EN7gHVOgGjLtQ",
          "livemode": false,
          "created": 1394410314,
          "used": false,
          "object": "token",
          "type": "card",
          "card": {
            "id": "card_103dY72tP72EN7gHZKKzZKbt",
            "object": "card",
            "last4": "0002",
            "type": "Visa",
            "exp_month": 1,
            "exp_year": 2015,
            "fingerprint": "NvwPcxVXPMUQXJY0",
            "customer": null,
            "country": "US",
            "name": null,
            "address_line1": null,
            "address_line2": null,
            "address_city": null,
            "address_state": null,
            "address_zip": null,
            "address_country": null
          }
        }
  recorded_at: Mon, 10 Mar 2014 00:11:54 GMT
- request:
    method: post
    uri: https://api.stripe.com/v1/charges
    body:
      encoding: US-ASCII
      string: amount=999&currency=usd&card=tok_103dY72tP72EN7gHVOgGjLtQ&description=a%20valid%20charge
    headers:
      Authorization:
      - Bearer sk_test_M4vSUGDJR5Uw4TyvPstbKppJ
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 402
      message: Payment Required
    headers:
      Content-Type:
      - application/json;charset=utf-8
    body:
      encoding: UTF-8
      string: |
        {
          "error": {
            "message": "Your card was declined.",
            "type": "card_error",
            "code": "card_declined",
            "charge": "ch_103dY72tP72EN7gHUMs3Hqhu"
          }
        }
  recorded_at: Mon, 10 Mar 2014 00:11:55 GMT
recorded_with: VCR 2.8.0
