---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v1/charges
    body:
      encoding: US-ASCII
      string: amount=999&currency=usd&card=tok_103YPP2tP72EN7gHxXcEADel&description=Myflix%20membership%20payment%20for%20john%40example.com.
    headers:
      Authorization:
      - Bearer sk_test_M4vSUGDJR5Uw4TyvPstbKppJ
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 402
      message: Payment Required
    headers:
      Content-Type:
      - application/json;charset=utf-8
    body:
      encoding: UTF-8
      string: |
        {
          "error": {
            "message": "Your card was declined.",
            "type": "card_error",
            "code": "card_declined",
            "charge": "ch_103YPP2tP72EN7gHgrFdsmLt"
          }
        }
  recorded_at: Mon, 24 Feb 2014 06:52:11 GMT
recorded_with: VCR 2.8.0
