---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v1/tokens
    body:
      encoding: US-ASCII
      string: card[number]=4242424242424242&card[exp_month]=1&card[exp_year]=2015&card[cvc]=314
    headers:
      Authorization:
      - Bearer sk_test_M4vSUGDJR5Uw4TyvPstbKppJ
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
    body:
      encoding: UTF-8
      string: |
        {
          "id": "tok_103dRn2tP72EN7gHK9NctLYD",
          "livemode": false,
          "created": 1394386808,
          "used": false,
          "object": "token",
          "type": "card",
          "card": {
            "id": "card_103dRn2tP72EN7gHnOOh8HfW",
            "object": "card",
            "last4": "4242",
            "type": "Visa",
            "exp_month": 1,
            "exp_year": 2015,
            "fingerprint": "E7xNEtOzftFyy9Cq",
            "customer": null,
            "country": "US",
            "name": null,
            "address_line1": null,
            "address_line2": null,
            "address_city": null,
            "address_state": null,
            "address_zip": null,
            "address_country": null
          }
        }
  recorded_at: Sun, 09 Mar 2014 17:40:08 GMT
- request:
    method: post
    uri: https://api.stripe.com/v1/customers
    body:
      encoding: US-ASCII
      string: card=tok_103dRn2tP72EN7gHK9NctLYD&email=toby%40grady.net&plan=base
    headers:
      Authorization:
      - Bearer sk_test_M4vSUGDJR5Uw4TyvPstbKppJ
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
    body:
      encoding: UTF-8
      string: |
        {
          "object": "customer",
          "created": 1394386808,
          "id": "cus_3dRn2Ke38b3PhS",
          "livemode": false,
          "description": null,
          "email": "toby@grady.net",
          "delinquent": false,
          "metadata": {},
          "subscriptions": {
            "object": "list",
            "count": 1,
            "url": "/v1/customers/cus_3dRn2Ke38b3PhS/subscriptions",
            "data": [
              {
                "id": "sub_3dRnctqhCk12t2",
                "plan": {
                  "interval": "month",
                  "name": "Base Plan",
                  "created": 1394332993,
                  "amount": 999,
                  "currency": "usd",
                  "id": "base",
                  "object": "plan",
                  "livemode": false,
                  "interval_count": 1,
                  "trial_period_days": null,
                  "metadata": {}
                },
                "object": "subscription",
                "start": 1394386808,
                "status": "active",
                "customer": "cus_3dRn2Ke38b3PhS",
                "cancel_at_period_end": false,
                "current_period_start": 1394386808,
                "current_period_end": 1397065208,
                "ended_at": null,
                "trial_start": null,
                "trial_end": null,
                "canceled_at": null,
                "quantity": 1,
                "application_fee_percent": null,
                "discount": null
              }
            ]
          },
          "discount": null,
          "account_balance": 0,
          "currency": "usd",
          "cards": {
            "object": "list",
            "count": 1,
            "url": "/v1/customers/cus_3dRn2Ke38b3PhS/cards",
            "data": [
              {
                "id": "card_103dRn2tP72EN7gHnOOh8HfW",
                "object": "card",
                "last4": "4242",
                "type": "Visa",
                "exp_month": 1,
                "exp_year": 2015,
                "fingerprint": "E7xNEtOzftFyy9Cq",
                "customer": "cus_3dRn2Ke38b3PhS",
                "country": "US",
                "name": null,
                "address_line1": null,
                "address_line2": null,
                "address_city": null,
                "address_state": null,
                "address_zip": null,
                "address_country": null,
                "cvc_check": "pass",
                "address_line1_check": null,
                "address_zip_check": null
              }
            ]
          },
          "default_card": "card_103dRn2tP72EN7gHnOOh8HfW",
          "subscription": {
            "id": "sub_3dRnctqhCk12t2",
            "plan": {
              "interval": "month",
              "name": "Base Plan",
              "created": 1394332993,
              "amount": 999,
              "currency": "usd",
              "id": "base",
              "object": "plan",
              "livemode": false,
              "interval_count": 1,
              "trial_period_days": null,
              "metadata": {}
            },
            "object": "subscription",
            "start": 1394386808,
            "status": "active",
            "customer": "cus_3dRn2Ke38b3PhS",
            "cancel_at_period_end": false,
            "current_period_start": 1394386808,
            "current_period_end": 1397065208,
            "ended_at": null,
            "trial_start": null,
            "trial_end": null,
            "canceled_at": null,
            "quantity": 1,
            "application_fee_percent": null,
            "discount": null
          }
        }
  recorded_at: Sun, 09 Mar 2014 17:40:09 GMT
recorded_with: VCR 2.8.0
