---
http_interactions:
- request:
    method: get
    uri: https://api.stripe.com/v1/events/evt_103dS92tP72EN7gHnPd05clx
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer sk_test_M4vSUGDJR5Uw4TyvPstbKppJ
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
    body:
      encoding: UTF-8
      string: |
        {
          "id": "evt_103dS92tP72EN7gHnPd05clx",
          "created": 1394388081,
          "livemode": false,
          "type": "charge.succeeded",
          "data": {
            "object": {
              "id": "ch_103dS92tP72EN7gHboqLv382",
              "object": "charge",
              "created": 1394388081,
              "livemode": false,
              "paid": true,
              "amount": 999,
              "currency": "usd",
              "refunded": false,
              "card": {
                "id": "card_103dS92tP72EN7gHjh6FzRSO",
                "object": "card",
                "last4": "4242",
                "type": "Visa",
                "exp_month": 3,
                "exp_year": 2014,
                "fingerprint": "E7xNEtOzftFyy9Cq",
                "customer": "cus_3dS9SJXfBBCtJ8",
                "country": "US",
                "name": null,
                "address_line1": null,
                "address_line2": null,
                "address_city": null,
                "address_state": null,
                "address_zip": null,
                "address_country": null,
                "cvc_check": "pass",
                "address_line1_check": null,
                "address_zip_check": null
              },
              "captured": true,
              "refunds": [],
              "balance_transaction": "txn_103dS92tP72EN7gH1qcthMx3",
              "failure_message": null,
              "failure_code": null,
              "amount_refunded": 0,
              "customer": "cus_3dS9SJXfBBCtJ8",
              "invoice": "in_103dS92tP72EN7gHmAPjrpZ4",
              "description": null,
              "dispute": null,
              "metadata": {}
            }
          },
          "object": "event",
          "pending_webhooks": 0,
          "request": "iar_3dS9a39zyipXXu"
        }
  recorded_at: Sun, 09 Mar 2014 20:51:59 GMT
recorded_with: VCR 2.8.0
