%section.search_results
  %header.clearfix
    %h1= "Search Results for: #{params[:term]}"
  %article.videos
    = render partial: "shared/videos", locals: { videos: @videos }
  = link_to '', search_videos_path(term: params[:term], page: @videos.next_page), class: 'load-more-videos', remote: true if @videos.next_page