---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v1/customers
    body:
      encoding: US-ASCII
      string: card=tok_103dY72tP72EN7gH78aPfAK8&email=alice%40example.com&plan=base
    headers:
      Authorization:
      - Bearer sk_test_M4vSUGDJR5Uw4TyvPstbKppJ
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
    body:
      encoding: UTF-8
      string: |
        {
          "object": "customer",
          "created": 1394410339,
          "id": "cus_3dY7H03XhrcV7G",
          "livemode": false,
          "description": null,
          "email": "alice@example.com",
          "delinquent": false,
          "metadata": {},
          "subscriptions": {
            "object": "list",
            "count": 1,
            "url": "/v1/customers/cus_3dY7H03XhrcV7G/subscriptions",
            "data": [
              {
                "id": "sub_3dY7PtVDG86LnK",
                "plan": {
                  "interval": "month",
                  "name": "Base Plan",
                  "created": 1394332993,
                  "amount": 999,
                  "currency": "usd",
                  "id": "base",
                  "object": "plan",
                  "livemode": false,
                  "interval_count": 1,
                  "trial_period_days": null,
                  "metadata": {}
                },
                "object": "subscription",
                "start": 1394410339,
                "status": "active",
                "customer": "cus_3dY7H03XhrcV7G",
                "cancel_at_period_end": false,
                "current_period_start": 1394410339,
                "current_period_end": 1397088739,
                "ended_at": null,
                "trial_start": null,
                "trial_end": null,
                "canceled_at": null,
                "quantity": 1,
                "application_fee_percent": null,
                "discount": null
              }
            ]
          },
          "discount": null,
          "account_balance": 0,
          "currency": "usd",
          "cards": {
            "object": "list",
            "count": 1,
            "url": "/v1/customers/cus_3dY7H03XhrcV7G/cards",
            "data": [
              {
                "id": "card_103dY72tP72EN7gH5A5xkwYH",
                "object": "card",
                "last4": "4242",
                "type": "Visa",
                "exp_month": 4,
                "exp_year": 2018,
                "fingerprint": "E7xNEtOzftFyy9Cq",
                "customer": "cus_3dY7H03XhrcV7G",
                "country": "US",
                "name": null,
                "address_line1": null,
                "address_line2": null,
                "address_city": null,
                "address_state": null,
                "address_zip": null,
                "address_country": null,
                "cvc_check": "pass",
                "address_line1_check": null,
                "address_zip_check": null
              }
            ]
          },
          "default_card": "card_103dY72tP72EN7gH5A5xkwYH",
          "subscription": {
            "id": "sub_3dY7PtVDG86LnK",
            "plan": {
              "interval": "month",
              "name": "Base Plan",
              "created": 1394332993,
              "amount": 999,
              "currency": "usd",
              "id": "base",
              "object": "plan",
              "livemode": false,
              "interval_count": 1,
              "trial_period_days": null,
              "metadata": {}
            },
            "object": "subscription",
            "start": 1394410339,
            "status": "active",
            "customer": "cus_3dY7H03XhrcV7G",
            "cancel_at_period_end": false,
            "current_period_start": 1394410339,
            "current_period_end": 1397088739,
            "ended_at": null,
            "trial_start": null,
            "trial_end": null,
            "canceled_at": null,
            "quantity": 1,
            "application_fee_percent": null,
            "discount": null
          }
        }
  recorded_at: Mon, 10 Mar 2014 00:12:20 GMT
recorded_with: VCR 2.8.0
