---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v1/charges
    body:
      encoding: US-ASCII
      string: amount=999&currency=usd&card=tok_103YMQ2tP72EN7gHGSMn1Ye2&description=Myflix%20membership%20payment%20for%20alice%40example.com.
    headers:
      Authorization:
      - Bearer sk_test_M4vSUGDJR5Uw4TyvPstbKppJ
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
    body:
      encoding: UTF-8
      string: |
        {
          "id": "ch_103YMQ2tP72EN7gHOALJMfgn",
          "object": "charge",
          "created": 1393213608,
          "livemode": false,
          "paid": true,
          "amount": 999,
          "currency": "usd",
          "refunded": false,
          "card": {
            "id": "card_103YMQ2tP72EN7gHMIt5s9cB",
            "object": "card",
            "last4": "4242",
            "type": "Visa",
            "exp_month": 4,
            "exp_year": 2018,
            "fingerprint": "E7xNEtOzftFyy9Cq",
            "customer": null,
            "country": "US",
            "name": null,
            "address_line1": null,
            "address_line2": null,
            "address_city": null,
            "address_state": null,
            "address_zip": null,
            "address_country": null,
            "cvc_check": "pass",
            "address_line1_check": null,
            "address_zip_check": null
          },
          "captured": true,
          "refunds": [],
          "balance_transaction": "txn_103YMQ2tP72EN7gHwpsEA0O0",
          "failure_message": null,
          "failure_code": null,
          "amount_refunded": 0,
          "customer": null,
          "invoice": null,
          "description": "Myflix membership payment for alice@example.com.",
          "dispute": null,
          "metadata": {}
        }
  recorded_at: Mon, 24 Feb 2014 03:46:48 GMT
recorded_with: VCR 2.8.0
