---
http_interactions:
- request:
    method: get
    uri: https://api.stripe.com/v1/events/evt_103gd32tP72EN7gH50NOH1a6
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer sk_test_M4vSUGDJR5Uw4TyvPstbKppJ
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
    body:
      encoding: UTF-8
      string: |
        {
          "id": "evt_103gd32tP72EN7gH50NOH1a6",
          "created": 1395120574,
          "livemode": false,
          "type": "charge.failed",
          "data": {
            "object": {
              "id": "ch_103gd32tP72EN7gHEnag48iq",
              "object": "charge",
              "created": 1395120574,
              "livemode": false,
              "paid": false,
              "amount": 999,
              "currency": "usd",
              "refunded": false,
              "card": {
                "id": "card_103gcx2tP72EN7gHrOJnZoUk",
                "object": "card",
                "last4": "0341",
                "type": "Visa",
                "exp_month": 3,
                "exp_year": 2017,
                "fingerprint": "WYoxhIxnHXqUD5hq",
                "customer": "cus_3dY7H03XhrcV7G",
                "country": "US",
                "name": null,
                "address_line1": null,
                "address_line2": null,
                "address_city": null,
                "address_state": null,
                "address_zip": null,
                "address_country": null,
                "cvc_check": "pass",
                "address_line1_check": null,
                "address_zip_check": null
              },
              "captured": false,
              "refunds": [],
              "balance_transaction": null,
              "failure_message": "Your card was declined.",
              "failure_code": "card_declined",
              "amount_refunded": 0,
              "customer": "cus_3dY7H03XhrcV7G",
              "invoice": null,
              "description": "payment fail",
              "dispute": null,
              "metadata": {},
              "statement_description": null
            }
          },
          "object": "event",
          "pending_webhooks": 1,
          "request": "iar_3gd3DYErs8uw0Z"
        }
  recorded_at: Tue, 18 Mar 2014 06:29:32 GMT
recorded_with: VCR 2.8.0
