---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v1/tokens
    body:
      encoding: US-ASCII
      string: card[number]=4000000000000002&card[exp_month]=1&card[exp_year]=2015&card[cvc]=314
    headers:
      Authorization:
      - Bearer sk_test_M4vSUGDJR5Uw4TyvPstbKppJ
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
    body:
      encoding: UTF-8
      string: |
        {
          "id": "tok_103dRn2tP72EN7gHzLLfxdwV",
          "livemode": false,
          "created": 1394386811,
          "used": false,
          "object": "token",
          "type": "card",
          "card": {
            "id": "card_103dRn2tP72EN7gHS98EbUmu",
            "object": "card",
            "last4": "0002",
            "type": "Visa",
            "exp_month": 1,
            "exp_year": 2015,
            "fingerprint": "NvwPcxVXPMUQXJY0",
            "customer": null,
            "country": "US",
            "name": null,
            "address_line1": null,
            "address_line2": null,
            "address_city": null,
            "address_state": null,
            "address_zip": null,
            "address_country": null
          }
        }
  recorded_at: Sun, 09 Mar 2014 17:40:11 GMT
- request:
    method: post
    uri: https://api.stripe.com/v1/customers
    body:
      encoding: US-ASCII
      string: card=tok_103dRn2tP72EN7gHzLLfxdwV&email=martine.grady%40kuphal.net&plan=base
    headers:
      Authorization:
      - Bearer sk_test_M4vSUGDJR5Uw4TyvPstbKppJ
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 402
      message: Payment Required
    headers:
      Content-Type:
      - application/json;charset=utf-8
    body:
      encoding: UTF-8
      string: |
        {
          "error": {
            "message": "Your card was declined.",
            "type": "card_error",
            "code": "card_declined"
          }
        }
  recorded_at: Sun, 09 Mar 2014 17:40:12 GMT
recorded_with: VCR 2.8.0
