.fixed_header_pad
  position: fixed
  top: 0
  left: 0
  height: 20px
  right: 0
  background-color: #e1e1e1
  z-index: 15
section#top-header
  position: fixed
  z-index: 100
  background: #B9090B
  margin: 0
  margin-bottom: 20px
  padding: 12px 0
  -webkit-box-shadow: 0 0 3px rgba(0,0,0,0.7)
  -moz-box-shadow: 0 0 3px rgba(0,0,0,0.7)
  box-shadow: 0 0 3px rgba(0,0,0,0.7)
  a
    color: white
  h1
    font-size: 20px
  > ul
    padding-top: 12px
    li
      float: left
      margin-right: 30px
      text-transform: uppercase
      &:first-of-type
        margin-left: -15px
  form
    padding-top: 6px
    margin: 0
    input[type="text"]
      width: 320px
      float: left
    input[type="submit"]
      margin-left: 10px
      float: left
  #user_links
    padding-top: 8px
    > ul
      > li
        float: left
        width: 200px
        a
          margin: 0 10px
          b
            border-top-color: white
        > ul
          > li
            &.open &:hover
              background: red
            a
              color: black
              margin: 0
