%section.genre
  %header.clearfix
    %h1= @category.name
    .genre_sorting
      Sort by:
      %select(id="video_sort")
        %option(value="title ASC") Title: A - Z
        %option(value="title DESC") Title: Z - A
        %option(value="rating") Rating
  %article.videos.row
    = render partial: "videos", locals: { videos: @videos }
  = link_to '', category_path(page: @videos.next_page), class: 'load-more-videos', remote: true if @videos.next_page