- if params[:sort_by]
  $('.videos').empty();
- else
  $('.videos').append('#{escape_javascript(render partial: "videos", :locals => { :videos => @videos })}');

$('.videos').append('#{escape_javascript(render partial: "videos", :locals => { :videos => @videos })}');
 
- unless @videos.next_page
  $('a.load-more-videos').remove();